@charset "UTF-8";

#fixerprincipal {
	position: fixed;
	z-index: 1;
	width: 350px;
	height: 100px;
	right: 0px;
	bottom: 0px;
	border: 2px solid black;
	border-top-left-radius: 10px;
	padding: 10px;
	text-align: left;
	font-family: Verdana;
	background-color: green;
}

#fixerprincipal p{
	text-indent: 1px;
	text-align: left;
	font-size: 1.3em;
	font-weight: bold;
}

#fixerprincipal input{
	position: relative;
	top: -10px;
	width: 150px;
}

#fixerprincipal button {
	position: relative;
	top: -20px;
	width: 50px;
}

#fixer-aviso {
	display: block;
	position: relative;
	top: -30px;
	margin-left: 70px;
}

#fixer-aviso p {
	font-weight: bold;
	font-size: 1.5em;
}

!important 
